@import "tailwindcss";

@theme {
  --color-primary: #e87000;
  --color-secondary: #96bd20;
}

body {
    font-family: "farro", "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: #f8faff;
}